.picArea {
    height: 800px;
    position: relative;
    overflow: hidden;
    background-color: #333;
}

img{border:solid 3px blue; margin:10px;}

h3 {

	width: 90px;
	height: 40px;
	background: mediumseagreen;
	border-radius: 30px / 50px;

}

h2{
  width: 310px;
  height: 40px;
  background: mediumseagreen;
  border-radius: 30px / 50px;
}
